/*_____________________________________________*/
/* Global */

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

button {
    padding: 8px 32px;
    border-radius: 8px;
    border: 0px;
}

/*_____________________________________________*/
/* Navbar */

.navbar-container {
    background-color: #1f2937;
    padding: 16px;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 940px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none; 
    color: #e5e7eb;
    font-size: 18px;
}

#logo-text {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

/*_____________________________________________*/
/* Header */

.section-header {
    background-color: #1f2937;
    padding: 144px 0px;
    display: flex;
    justify-content: center;
}

.header {
    width: 940px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.left-items {
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 8px;
}

p {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 300;
}

.button-primary {
    background-color: #3882f6;
    color: #f9faf8;
}

.header-image {
    flex: 1;
    background-color: lightgray;
}


/*_____________________________________________*/
/* Content */

.section-content {
    display: flex;
    justify-content: center;
    padding: 48px 0px;
}

.content {
    width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.items {
    display: flex;
    gap: 24px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.content-image {
    width: auto;
    height: 150px;
    background-color: #3882f6;
    border-radius: 8px;
}

.content-text {
    text-align: center;
    color: #1f2937;
}


/*_____________________________________________*/
/* Quote */


/*_____________________________________________*/
/* CTA */

.section-cta {
    display: flex;
    justify-content: center;
    padding: 96px 0px;
}

.cta-modal {
    display: flex;
    width: 940px;
    gap: 24px;
    background-color: #3882f6;
    padding: 56px 0px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;

}

.left-description {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

h4 {
    font-size: 24px;
    color: #f9faf8;
}

#cta-body {
    margin: 0;
}

.button-secondary {
    background-color: #3882f6;
    border-width: 2px;
    border-color: #f9faf8;
    border-style: solid;
    color: #f9faf8;
}


/*_____________________________________________*/
/* Footer */

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

#footer-text {
    margin: 0;
}